body {
	font-family: sans-serif;
	font-size: 16px;
}
.task
{
	display: flex;
	margin:  150px 100px -50px;
}

.task-list {
	display: flex;
	margin:  150px 100px -50px;
}
.task-list__item {
	margin: -5px 0px;
	display: none;
	font-size: 30px;
	border-radius: 5px;
	padding: 5px;
}
.task-list__item_input {
	position: relative;
	
	margin-bottom: -5px;
	width: 60px;
	height: 50px;
	border: 1px solid #cecece;
	outline: none;
	box-sizing: border-box;
	text-align: center;
}
.task-list__item_visible {
	display: block;
	font-size: 30px;
}

.task-list__item_input-error {
	color: #f00;
}
.task-list__item_output-error {
	background-color: #f93;
}

.task-list__item_input-error {
	color: #f00;
}
.task_a_output-error {
	background-color: #f93;
}

.task_b_output-error {
	background-color: #f93;
}

.box
{
	display: flex;
}
.box_col{
    width: 16.6%;
}
.box_col2{
    width: 66.4%;
}
.box_col4{
    width: 33.2%;
}
.canvas-box__item-box {
	display: flex;
    margin-left: 35px;

}
.canvas-box__item {
	display: none;
	position: relative;
	width: 20px;
	height: 30px;
	padding: 5px 3px;
	border: 1px solid #cecece;
	border-radius: 5px;
	outline: none;
	margin: 0;
	box-sizing: border-box;
}

 .canvas-box__item_visible {
 	display: block;
 }

.canvas-box__drawing-plane { 
	display: block;
	width: 780px;
	height: 234px;
	margin: 0 35px -15px;
	
}


.canvas-box__item_input-error {
	color: #f00;
}
